@import url('https://fonts.cdnfonts.com/css/star-wars');

body {
    font-family: 'Star Wars', sans-serif;
    color: white;
    background-image: url('space.jpg');
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 0;
}

/* .crawl {
    position: relative;
    height: 100vh;
    overflow: visible;
}

.crawl-content {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    animation: crawl 30s linear infinite;
}

This is the CSS for the work-in-progress text crawl */

.primary-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    color: gold;
    text-align: center;
    font-size: 50px;
    justify-content: center;
}

.login-container {
    background: rgba(0,0,0,0.7);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 300px;
    margin-top: 20px;

}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: gold;
    color: black;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;

}

button:hover {
    background: goldenrod

}


footer {
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    font-size: 18px;
    color: lightgray;
    position: fixed;
    bottom: 0;
    width: 47%;
    padding: 15px;
    margin: 0;
    
}

/*@keyframes crawl {
    from {
        transform: translateY(100vh);

    }
    to {
        transform: translateY(-50vh);
    }
} This is for the text crawl functionality */